{% comment %}
------------------------------------------------------------------------------
  Snippet: collection-card (collection-card)
------------------------------------------------------------------------------
{% endcomment %}
<div class="collection-card is-loading liquid">
</div>
