{% comment %}
------------------------------------------------------------------------------
  Snippet: Page card (page-card)
------------------------------------------------------------------------------
{% endcomment %}
<div class="page-card is-loading liquid">
</div>
