{% comment %}
------------------------------------------------------------------------------
Snippet: postal code validator (postal-code-validator)
------------------------------------------------------------------------------
{% endcomment %}
<span class="postal-code-validator-wrapper is-loading liquid">
  <a class="postal-code-validator-trigger" href="javascript:void(0);">
    {% render 'icon-misc' icon: 'info' %}
  </a>
</span>