{% comment %}
------------------------------------------------------------------------------
  Snippet: Search bar (search-bar)
------------------------------------------------------------------------------
{% endcomment %}
<div class="search-bar is-loading liquid">
  search bar liquid content
</div>
