{% comment %}
------------------------------------------------------------------------------
  Snippet: Search bar results (search-bar-results)
------------------------------------------------------------------------------
{% endcomment %}
<div class="search-bar-results is-loading liquid">
  Search Bar Results Liquid
</div>
