{% comment %}
------------------------------------------------------------------------------
  Snippet: tooltip (tooltip)
------------------------------------------------------------------------------
{% endcomment %}
<span class="tooltip-wrapper is-loading liquid">
  <a class="tooltip-trigger" href="javascript:void(0);">
    {% render 'icon-misc' icon: 'info' %}
  </a>
</span>
