{% comment %}
----------------------------------------------------------------------------
  Template: Genesys Support
----------------------------------------------------------------------------
{% endcomment %}
<h1 class="visually-hidden">{{page.title}}</h1>
{%- render 'custom-content' -%}

<div class="template-page" js-app-handler="placeholder">
  <div class="shopify-section" id="genesys-app-block">
    <div class="shopify-app-block">
      <div id="genesys-support-center"></div>
    </div>
  </div>
</div>